// COLORS
$primary-color: #00adb5;
$secondary-color: #126e82;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #222831;

$dark-grey: #393e46;

$dark-blue-text: #eeeeee; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
